:host{
    display: inline-block;
    padding: 10px;
}
.contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.2s;

    &:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    &:active{
        background-color: #EEE;
    }    

    &-image{
        width: 80px;
        height: 80px;
        border-radius: 40px;
        margin: 8px 16px;
        flex-shrink: 0;
        align-self: flex-start;
    }

    &-detail{
        &-phone{
            margin-top: -20px;            
            &-type{
                color: gray;
                font-weight: 600;
            }
        }
    }
}
