.form-item-image{
    display: flex;
    flex-direction: column;
    margin: 16px 16px 32px 16px;
    img{
        width: 80px;
        height: 80px;
        border-radius: 40px;
        margin: 8px 16px;
        flex-shrink: 0;
        align-self: flex-start;
    }
}

.form-item {
    margin: 16px;
    width: 300px;
    display: flex;
    position: relative;

    label{
        width: 80px;
        max-width: 80px;
        display: inline-block;
    }

    & > * {
        flex-grow: 1;
    }
}

.form-group{
    margin: 16px;
    width: 300px;
    display: flex;
    flex-direction: column;

    .form-item{
        margin-top: 0px;
        width: initial;
        margin-right: 0px;
    }
}

.form-button {
    width: 300px;
    margin: 6px 16px 0px 16px;
}

.form-action{
    margin-top: 0px;
    margin-left: 16px;
    font-size: 0.9em;
    font-style: italic;
    font-weight: 600;
}
